@model WebAppVsEat.Models.CardItem

@{
    ViewData["Title"] = "AddToCard";
}

<h2>Select the quantity: </h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToCard">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="idDish" type="hidden" class="form-control" />
                <span asp-validation-for="idDish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="price" type="hidden" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="name" type="hidden" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
                <input name="idrestau" type="hidden" value="@ViewBag.idRestau" />
            </div>
        </form>
    </div>
</div>

