@model WebAppVsEat.Models.OrderDishmodel

@{
    ViewData["Title"] = "AddToCard";
}

<h2>AddToCard</h2>

<h4>OrderDishmodel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToCard">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="DeliveryTime" class="form-control" type="datetime-local" value="@Model.DeliveryTime.ToString("yyyy-MM-ddTHH:mm")" min="@Model.DeliveryTime.ToString("yyyy-MM-ddTHH:mm")" step="900" />
                <span asp-validation-for="DeliveryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<input  class="form-control" type="datetime-local" value="@Model.DeliveryTime.ToString("yyyy-MM-ddTHH:mm")" min="@Model.DeliveryTime.ToString("yyyy-MM-ddTHH:mm")" step="900" />
<input class="form-control" type="datetime-local" value="2019-12-12T12:00"/>
<div>
    <a asp-action="Index">Back to List</a>
</div>

