@model DTO.Dish
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            
            @ViewData["Address"]
        </dt>
        <dd>
            
        </dd>
        <dt>
           
        </dt>
        <dd>
            
        </dd>
        <dt>
            
        </dt>
        <dd>
            
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        <tr>
            <tb>

            </tb>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Restaurants">Back to List</a>
</div>