@model IEnumerable<WebAppVsEat.Models.OrderDishmodel>

@{
    ViewData["Title"] = "AllRestaurantDishes";
}

<h2>All Dishes</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.dish.Name)</p>
                </td>
                <td>
                    <p>CHF @Html.DisplayFor(modelItem => item.dish.Price)</p>
                </td>
                <td>
                    <p>@Html.ActionLink("Add to basket", "AddToCard", new { idDish = item.dish.IdDishes, price = item.dish.Price, name = item.dish.Name, idRestau = item.dish.Restaurants_id})</p>
                </td>
            </tr>

        }

    </tbody>
    
</table>